@import "tailwindcss";

@theme {
  --color-primary: #97ce4a;
  --color-primary-dark: #78a43b;
  
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;
  
  --color-surface-light: #ffffff;
  --color-surface-dark: #152a15;
  
  --color-border-light: #dbe6db;
  --color-border-dark: #2a402a;
  
  --color-text-main: #111811;
  --color-text-sub: #618961;

  --font-display: var(--font-jakarta);

  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 2.5rem;
}
